@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* common */
section{
    width: 100%;
    font-family: 'Pretendard-Regular',sans-serif;
}

.common_section{
    margin-top: 80px;
}

html,body{
    font-family: 'Pretendard-Regular',sans-serif;
}

* {
    font-family: 'Pretendard-Regular',sans-serif;
}

button{
    border: none;
    outline: none;
}

.inner{
    max-width: 1108px;
    margin: 0 auto;
}
/* navbar */

.nav_wrapp {
    width: 100%;
    height: 85px;
    font-family: 'Pretendard-Regular',sans-serif;
    padding: 18px 0;
    box-sizing: border-box;
}


.head_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1108px;
    width: 100%;
    margin: 0 auto;
}

.head_nav .header-logo{
    width: 94px;
    height: 50px;
}

.head_nav .header-logo img{
    width: 100%;
    height: 100%;
}

.head_nav  .responsive_btn{
    display: none;
}

.main-menu {
    display: flex;
    align-items: center;
}

.main-menu {
    z-index: 1;
    display: flex;
}

.main-menu .nav_item .item__name {
    padding: 40px;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
    color: #000;
}



  

.main-menu .nav_item .item__name:hover,
.main-menu .nav_item.active .item__name{
    font-weight: 700;
}

.main-menu .nav_item:nth-child(1) .item__name:hover,
.main-menu .nav_item:nth-child(1).active .item__name{
    color:#21a6ed;
}

.main-menu .nav_item:nth-child(2) .item__name:hover,
.main-menu .nav_item:nth-child(2).active .item__name{
    color:orangered;
}

.main-menu .nav_item:nth-child(3) .item__name:hover,
.main-menu .nav_item:nth-child(3).active .item__name{
    color:#756fad;
}

.main-menu .nav_item:nth-child(4) .item__name:hover,
.main-menu .nav_item:nth-child(4).active .item__name{
    color:#12cebd;
}

.main-menu .nav_item:nth-child(5) .item__name:hover,
.main-menu .nav_item:nth-child(5).active .item__name{
    color:#4c6187;
}

.main-menu .nav_item:hover .item__contents,
.main-menu .nav_item .item__contents:hover {
  display: block;
}
.main-menu .nav_item .item__contents {
    width: 100%;
    position: fixed;
    left: 0;
    top: 71px;
    display: none;
    background-color: #fff;
}

.main-menu .nav_item .item__contents ul>li ul li a:hover{
    font-weight: bold;
}

.main-menu .nav_item .item__contents ul>li:nth-child(1) ul li a:hover{
    color:#21a6ed;
}

.main-menu .nav_item .item__contents ul>li:nth-child(2) ul li a:hover{
    color:orangered;
}

.main-menu .nav_item .item__contents ul>li:nth-child(3) ul li a:hover{
    color:#756fad;
}

.main-menu .nav_item .item__contents ul>li:nth-child(4) ul li a:hover{
    color:#12cebd;
}

.main-menu .nav_item .item__contents ul>li:nth-child(5) ul li a:hover{
    color:#4c6187;
}



.main-menu .nav_item .item__contents ul {
    padding: 20px 0;
    display: flex;
    max-width: 680px;
    margin: 0 auto;
    justify-content: space-between;
}



.main-menu .nav_item .item__contents ul>li {
    margin-right: 25px;
}

.main-menu .nav_item .item__contents ul>li>ul{
    display: flex;
    flex-direction: column;
}
.main-menu .nav_item .item__contents ul>li:last-child {
    margin-right: 0;
}

.main-menu .nav_item .item__contents ul>li h4 {
    padding: 3px 0 12px 0;
    font-size: 14px;
    color: #fff;
}

.main-menu .nav_item .item__contents ul>li ul li {
    padding: 8px 0;
    font-size: 12px;
    color: #999;
    cursor: pointer;
}

.main-menu .nav_item .item__contents ul>li ul li:hover {
    color: #3E3755;

}

.main-menu .nav_item .item__contents ul>li ul li a {
    color: #000;
    font-weight: 300;
    font-size: 14px;
}

.head_nav .header_sign ul{
    display: flex;
    align-items: center;
}

.head_nav .header_sign li a{
    display: flex;
    align-items: center;
}

.head_nav .header_sign li:first-child{
    margin-right: 35px;
}

.head_nav .header_sign li a .sign_icon{
    width: 18px;
    height: 18px;
}
.head_nav .header_sign li a img{
    width: 100%;
    height: 100%;
}

.head_nav .header_sign li a p{
    font-weight: 400;
font-size: 12px;
color:#000;
margin-left: 6px;
}


/* main */

.main_banner{
    width: 100%;
    height: 500px;
}

.main_banner a{
    width: 100%;
}

.main_banner a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slick-list, .slick-track{
    height: 100%;
}


/* 메인 10초 설문조사 */

.survey_wrap{
    font-family: 'Pretendard-Regular';
}

.survey_title{
    margin-bottom: 35px;
}

.survey_title .title{
    font-weight: 500;
    font-size: 28px;
    line-height: 18px;
    margin-bottom: 10px;
}

.survey_title .survey_sub{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.survey_title .survey_sub .sub_descript{
    font-weight: 300;
    font-size: 20px;
    line-height: 18px;
    color: #000000;
}

.survey_title .survey_sub .descript_more{
    display: flex;
    align-items: center;
}

.survey_title .survey_sub .descript_more p{
    font-weight: 300;
    font-size: 18px;
    line-height: 18px;
    margin-right: 10px;
    color: #000;
}

.survey_title .survey_sub .descript_more img{
    width: 6px;
    height: 8px;
}

.survey_wrap .survey_contents{
    display: flex;
    column-gap: 40px;
}

.survey_wrap .survey_contents .survey_contents_item{

}

.survey_contents .survey_contents_item .contents_img{
    width: 346px;
height: 173px;
margin-bottom: 11px;
}

.survey_contents .survey_contents_item .contents_img img{
    width: 100%;
    height: 100%;

}

.survey_contents .survey_contents_item .survey_point{
    display: flex;
    align-items: center;
    width: 60px;
height: 24px;
padding: 2px 4px;
background: #DCD3FF;
border-radius: 16.1591px;
    margin-bottom: 14px;
}

.survey_contents_item .survey_point span{
    width: 20px;
height: 20px;
border-radius: 50%;
background: #8566FF;
color: #fff;
font-weight: 500;
font-size: 12px;
display: flex;
align-items: center;
justify-content: center;
margin-right: 8px;
}

.survey_contents_item .survey_point p{
    font-weight: 500;
font-size: 14px;
letter-spacing: -0.025em;
color: #242424;
}

.survey_contents .survey_content_title{
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #000;
    margin-bottom: 15px;
}

.survey_contents .survey_join{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 23px;
}

.survey_contents .survey_join .chat_icon{
    width: 24px;
    height: 24px;
}

.survey_contents .survey_join .chat_icon img{
    width: 100%;
    height: 100%;
}

.survey_contents .survey_join p{
    font-weight: 400;
    font-size: 14px;
    color:#454545;
    letter-spacing: -0.5px;
    margin-left: 3px;
}

.survey_contents .survey_join p .join_number{
    color: #000;
}

.survey_contents .join_btn_wrap{
width: 100%;
display: flex;
align-items: center;
justify-content: space-between;
}

.survey_contents .join_btn_wrap .btn{
    border: none;
    outline: none;
    box-shadow: none;
    width: 164px;
    height: 36px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}



.survey_contents .join_btn_wrap .submit-btn{
    background: #8566FF;
    color: #fff;
}

.survey_contents .join_btn_wrap .result-btn{
    border: 1px solid #8566FF;
    color: #323232;
    background-color: #fff;
}

.survey_contents .join_btn_wrap .complet-btn{
    background: #464646;
    color: #fff;
}

.survey_contents .join_btn_wrap .end-btn{
    background: #ABABAB;
    color: #fff;
}


/* 미션이벤트 */
#mission{
    background-color: #F0F0F0;
    height: 722px;
    position: relative;
    margin-top: 180px;
}

.event{
    height: 180px;
    position: relative;
    width: 100%;
}
.mission_event{
    position: absolute;
    top: -90px;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px 70px;
    box-sizing: border-box;
    background-color: #271C4C;
    border: 0.5px solid #7165E3;
border-radius: 17px;
display: flex;
    justify-content: space-between;
    align-items: center;
}

.event_title .title{
    font-family: 'GmarketSansMedium';
    font-weight: 700;
font-size: 24px;
line-height: 24px;
color: #8566FF;
letter-spacing: -0.4px;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
margin-bottom: 16px;
}

.event_title .event_sub{
    font-weight: 300;
font-size: 18px;
line-height: 26px;
color: #FFFFFF;
}

.event_step p.step_text{
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.4px;
color: #FFFFFF;
}

.event_step{
    display: flex;
    align-items: center;
}

.event_step .progress_bar{
    width: 378px;
    height: 22px;
    background: #FFFFFF;
border: 0.5px solid #7165E3;
border-radius: 11px;
position: relative;
margin: 0 13px;
}

.step_bar{
    width:70%;
height: 22px;
background: #8566FF;
border-radius: 13px;
position: absolute;
left: -2px;
top: 0;
}

.step_filled{
    position: absolute;
    top: 117%;
    right: -8px;
    transform: translate(0,-50%);
    display: flex;
    flex-direction: column;
    align-items: center;

}

.step_filled .step_bar_img{
    margin-bottom: 5px;
}

.step_filled span{
    font-weight: 400;
font-size: 16px;
color: #8566FF;
}

.step_filled span.margin-b{
    margin-bottom: 0.3rem;
}

/* 설문더하기 */

.survey_plus{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.survey_plus .survey_list{
    width: 346px;
    height: 346px;
    border: 0.5px solid #6A6A6A;
    background: #FFFFFF;
    padding: 35px 35px 26px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.survey_plus .survey_list.active{
    border: 6px solid #8566FF;

}

.survey_list .list_title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}

.list_title p{
    display: flex;
    flex-direction: column;
}

.list_badg{
    display: flex;
    align-items: center;
    width: 76px;
    height: 24px;
    padding: 2px 4px;
    background: #DCD3FF;
    border-radius: 16.1591px;
}

.list_badg span{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #8566FF;
    color: #fff;
    font-weight: 500;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 6px;
}

.list_badg p{
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.025em;
    color: #242424;
}

.info_descript li{
    font-weight: 300;
font-size: 16px;
letter-spacing: -0.3px;
line-height: 24px;
color: #000000;
}

.plus_btn{
    margin-top: 30px;
}
.plus_btn .btn{
    width: 100%;
    height: 43px;
    font-weight: 500;
font-size: 18px;

}

.plus_btn .submit-btn{
    background: #D3CEFF;
    color: #000;
}

.plus_btn .end-btn{
    background: #464646;
    color: #fff;
}

.plus_btn .result-btn{
    color: #fff;
    background: #ABABAB;
}


.survey_waiting{
    width: 100%;
height: 349px;
background: #FFFFFF;
}

.survey_waiting_img{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-weight: 300;
font-size: 20px;
line-height: 18px;
letter-spacing: 0.1px;
color: #000000;
}

/* 트렌드 이슈 */
.trend_img_list{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.trend_img_list li{
    width: 265px;
    height: 265px;
}

.trend_img_list li img{
    width: 100%;
    height: 100%;
}


/* notice & contact */

.main_bottom{
    border-top: 0.5px solid #8C8C8C;
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 130px;
}

.main_bottom .notice{
    width: 50%;
    margin-right: 100px;
}
.main_bottom .contact{
    width: 50%;
}

.main_bottom .survey_title{
    margin-bottom: 40px;
}

.main_bottom .survey_title .title{
    font-size: 28px;
    margin-bottom: 20px;
}

.main_bottom .survey_title .survey_sub .sub_descript{
    font-size: 18px;
}

.main_bottom .survey_title .survey_sub .descript_more p{
    font-size: 18px;
    margin-right: 10px;
}

.notice_list_wrap{
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
}
.notice_list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    border-bottom: 0.5px solid #000000;;
}

.notice_list .notice_title{
    font-weight: 200;
    font-size: 17px;
    letter-spacing: -0.4px;
    color: #000;
}

.notice_list .notice_date{
    font-weight: 200;
font-size: 17px;
color: #000;
letter-spacing: 0.1px;
}

.notice_list:last-child{
    border-bottom: none;
}

.input_list{

    margin-bottom: 20px;
}

.input_list.input_display{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input_list input{
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 3px;
    padding: 10px 20px;
    box-sizing: border-box;
}

.input_list input::placeholder,
textarea::placeholder{
    font-weight: 200;
font-size: 16px;
color: #000000;
}
.input_name{
    width: 196px;
    margin-right: 13px;
}

.input_tel{
    width: 281px;
}

.input_mail {
    width: 100%;
}
.input_name, .input_tel, .input_mail {
    height: 50px;
}

.contact_input textarea{
width: 100%;
height: 265px;
background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 3px;
    padding: 10px 20px;
    box-sizing: border-box;
}

.contact_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.contact_btn button{
    width: 265px;
height: 50px;
background: #000000;
border: 1px solid #000000;
border-radius: 3px;
font-weight: 600;
font-size: 17px;
line-height: 50px;
display: flex;
align-items: center;
justify-content: center;
color: #FFFFFF;

}

/* footer */
.footer{
    background: #F5F5F5;
    width: 100%;
    padding: 33px 0;
}

.footer_inner{
    display: flex;
    width: 100%;
}

.footer_info{
    margin-left: 100px;
}

.footer_logo{
    width: 84px;
height: 44px;
}

.footer_logo img{
    width: 100%;
    height: 100%;
}

.footer_info .info-list{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.footer_info .info-list li{
    position: relative;
    margin-right: 0.8rem;
    padding-right: 0.8rem;
}

.footer_info .info-list li::after{
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0,-50%);
    width: 1px;
    height: 12px;
    background-color: #000;
    
}

.footer_info .info-list li:last-child::after{
    display: none;
}

.footer_info .info-list li a{
    font-weight: 300;
font-size: 13px;
color: #000;
}

.footer_company ul{
    display: flex;
}

.footer_company ul li{
    font-weight: 300;
font-size: 13px;
color: #525252;
margin-right: 1rem;
}

.footer_company ul li:first-child{
    margin-bottom: 0.625rem;
}

.footer_company ul li:last-child{
    margin-right: 0;
}

.copyright{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 40px;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.025em;
    color: #000000;
}

.copyright span{
    font-weight: 600;
}

.modal_alert{
    display: flex;
    align-items: center;
    padding: 30px 0 24px;
    justify-content: center;
    border-bottom: 1px solid #B1B1B1;
}

.modal_alert img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.modal_alert p{
    font-weight: 500;
font-size: 19px;
color: #000000;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content/Box */
.modal-content {
    background-color: #fff;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 15px 18px;
    border: 1px solid #888;
    width: 400px;
    height: 150px;
    border-radius: 12px;
}

.modal_body{
    padding: 16px 8px;
}

.close{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.modal_ok{
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.245em;
    color: #616161;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
/* 반응형 */

@media screen and (max-width:1024px){
    .head_nav  .responsive_btn{
        display: block;
    }
}